## MTNOY STOCK PRICE ANALYSIS

AIM:

    Explore the stock price performance of MTNOY.

    Build a model to predict stock volatility for the telecommunications company MTN Group.

### Import the libraries

In [30]:
# Import the libraries

import requests
import pandas as pd
from config import settings
import sqlite3
import matplotlib.pyplot as plt
import numpy as np
from arch import arch_model
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf

#### API EXPLORATION TO EXTRACT THE DATA

In [62]:
ticker_symbol = "MTNOY"
output_size = "full"
data_type = "json"

url = ("https://learn-api.wqu.edu/1/data-services/alpha-vantage/query?"
       "function=TIME_SERIES_DAILY&"
       f"symbol={ticker_symbol}&"
       f"outputsize={output_size}&"
       f"datatype={data_type}&"
       f"apikey={settings.alpha_api_key}")

print(url[:170])

https://learn-api.wqu.edu/1/data-services/alpha-vantage/query?function=TIME_SERIES_DAILY&symbol=MTNOY&outputsize=full&datatype=json&apikey=9f6f20dcb464ccb1684848b91cf1d9d

In [63]:
# get the response
response = requests.get(url=url)

# response json
response_data = response.json()

# response keys
keys = response_data.keys()

#print
print(type(response_data))
print(response.status_code)
print(keys)
# dir(response)

<class 'dict'>
200
dict_keys(['Meta Data', 'Time Series (Daily)'])

In [64]:
# # Extract `"Time Series (Daily)"` value from `response_data`

mtnoy_data = response_data["Time Series (Daily)"]

mtnoy_data["2023-12-27"]

{'1. open': '6.2700',
 '2. high': '6.4000',
 '3. low': '6.2600',
 '4. close': '6.4000',
 '5. volume': '22036'}

In [65]:
# Store in a DataFrame

df_mtnoy = pd.DataFrame().from_dict(mtnoy_data, orient="index", dtype=float)

df_mtnoy.index = pd.to_datetime(df_mtnoy.index)

# Name index "date"
df_mtnoy.index.name="date"

# Using list comprehension to rename the columns
df_mtnoy.columns = [c.split(". ")[1] for c in df_mtnoy.columns]


print(df_mtnoy.info())
df_mtnoy.head()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4146 entries, 2023-12-29 to 2007-07-13
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    4146 non-null   float64
 1   high    4146 non-null   float64
 2   low     4146 non-null   float64
 3   close   4146 non-null   float64
 4   volume  4146 non-null   float64
dtypes: float64(5)
memory usage: 194.3 KB
None

             open    high     low   close   volume
date
2023-12-29  6.370  6.3825  6.3055  6.3055  21286.0
2023-12-28  6.155  6.2340  6.1200  6.1200  23212.0
2023-12-27  6.270  6.4000  6.2600  6.4000  22036.0
2023-12-26  6.100  6.2700  5.9700  6.1920  19176.0
2023-12-22  6.210  6.2800  6.1500  6.1500   6902.0

In [66]:
df_mtnoy.to_csv("MTNOY_dataset.csv")